// NAVBAR
.navbar {
    .nav-item{
        .nav-link{
            color: #28557A;
        }
        .register{
            background: #4AA4E0;
            color: #fff;
            margin-left: 12px;
            font-weight: bolder;
            &:hover {
                color: #fff;
            }
        }
    }
}

// BANNER
.banner {
    .carousel{
        position: relative;
        .carousel-inner{
            // background: #000;
            .carousel-item {
                max-height: 450px;
                max-width: 1216px;
                .carousel-caption {
                    width: 329px;
                    height: 80px;
                    background: #000;
                    font-size: 20px;
                    border-radius: 5px;
                    padding: 10px 20px;
                    top: 330px;
                    left: 5%;
                    text-align: left;
                }
            }
        }
        .carousel-indicators {
            position: absolute;
            // left: 993px;
            left: 0%;
            display: flex;
            justify-content: flex-end;
            margin: 3% 7%;
            .circle{
                height: 12px;
                width: 12px;
                border-radius: 50%;
                border: none;
                float: right;
            }
        }
    }
}

// MAIN
.recent-articles {
    .subtitle {
        a{
            font-size: 18px;
        }
    }
    .articles {
        .card-deck{
            .card {
                box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
            }
        }
    }
}

// CATEGORIAS PRINCIPALES
.categories-principal {
    .subtitle {
        a{
            font-size: 18px;
        }
    }
    .galery {
        width: 100%;
        overflow: hidden;
        margin: 0;
        height: 416px;
        a{
            .photo {
                position: relative;
                height: 100%;
                width: 25%;
                float: left;
                img {
                    vertical-align: top;
                    // width: 100%;
                    height: 100%;
                }
                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+91,000000+100&0+0,0.65+91,0.65+100 */
                    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 91%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 91%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 91%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
                    z-index: 2;
                    transition: all .3s ease-in;
                }
                .title {
                    position: absolute;
                    bottom: 10%;
                    display: block;
                    left: 0%;
                    right: 0%;
                    // width: 100%;
                    z-index: 3;
                    color: #fff;
                    text-align: center;
                    margin: 0 30px;
                    transition: all .3s ease-out;
                    h5 {
                        background: #000;
                        border-radius: 5px;
                        padding: 10px 20px;
                    }
                }
                &:hover {
                    &:after {
                        background: #000;
                        opacity: .65;

                    }
                    > .title {
                       bottom: 45%; 
                    }
                }
            }
        }
    }
}

// SENTENCE
.sentence {
    .eslogan {
        font-size: 20px;
        font-weight: bold;
        margin: 5% auto;
        text-align: center;
    }
}

// SECCION LOGIN
.option-login {
    background: #EBF7FF;
    padding: 40px 0;
    
    .register-login {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        
        .description {
            font-size: 16px;
            display: inline-block;
            width: 50%;
        }
        .buttons-register {
            a {
                font-size: 20px;
                margin: 3% 0;
                float: right;
                display: block;
                width: 100%;
            }
        }
    }
}

// para ocultar de acuerdo a sm, md, lg, xl según la convencion de Bootstrap
@media (max-width: 576px)  {
    .ocultar {
        display:none;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .ocultar-sm {
        display:none;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .ocultar-md {
        display:none;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .ocultar-lg {
        display:none;
    }
}

@media (min-width: 1200px)  {
    .ocultar-xl {
        display:none;
    }
}
